{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi app - Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Empresa</h1>
        <nav>
            <ul>
                <li><a href=" ">Inicio</a></li>
                <li><a href="mision">Mision</a></li>
                <li><a href="vision">Vision</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <h2>Nuestros Servicios</h2>
        <p>Proveemos soluciones innovadoras para mejorar su negocio.</p>
    </section>
    <footer>
        <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </footer>
</body>
</html>